.outerContainer{
    width : 100vw;
    height : 90vh;
    background-color: #F1F3F5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer{
    margin-top : 19.9090909091vh;
    background-image: url("/images/bg/Groupbackground.png") ;
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

