.outerContainer{
    width : 100vw;
    height : 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerContainer{
    margin-top : 19.9090909091vh;
    width : 80.2083333333%;
    height : auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer{
    width : 96.1538461538%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F1F3F5;
    padding-bottom :10px;
    padding-left: 10px;
    padding-right: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;

    color: #000000;
    margin-bottom : 10px;
}

.likeContainer{
    width : 100%;
    height : auto;
    display: flex;
    flex-direction: column;
    margin-bottom : 6.25rem;
    align-items: center;
}

@media ( min-width: 1080px) and ( max-width : 1399px){
    .groupContainer{
        width : 100%;
        display: grid;
        /*grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));*/
        grid-template-columns: repeat(3,1fr);
        grid-auto-flow: row;
    }
}

@media (min-width : 1400px) and (max-width : 1500px) {
    .groupContainer{
        width : 100%;
        display: grid;
        /*grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));*/
        grid-template-columns: repeat(4,1fr);
        grid-auto-flow: row;
    }
}

@media ( min-width : 1501px ) {
    .groupContainer{
        width : 100%;
        display: grid;
        /*grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));*/
        grid-template-columns: repeat(5,1fr);
        grid-auto-flow: row;
    }
}

@media (max-width : 1720px) and (min-width : 1500px) {
    .groupContainer{
        width : 100%;
        display: grid;
        /*grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));*/
        grid-template-columns: repeat(6,1fr);
        grid-auto-flow: row;
    }
}

/*.groupContainer{*/
/*    width : 100%;*/
/*    display: grid;*/
/*    !*grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));*!*/
/*    grid-template-columns: repeat(6,1fr);*/
/*    grid-auto-flow: row;*/
/*}*/



.joinedContainer{
    width : 100%;
    height : auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addGroupButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.addImage{
    width : 0.75rem;
    height : 0.75rem;
    background-image: url("/icons/plus.png");
    background-repeat : no-repeat;
    background-size : cover;
    margin-right: 4px;
    margin-bottom: 4px;
}
