.outerContainer{
    width : 100vw;
    height : 100vh;
    background: #1E2F97;

    display: flex;
    flex-direction: row;
}

.leftContainer {
    width: 300px;
    height: 100%;
}
.topTitleContainer{
    width : 300px;
    height : 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.topTitleContainer h1{
    font-style: normal;
    font-weight: 900;
    font-size: 35px;

    margin-right: 20px;
    color: #FFFFFF;
}

.topTitleContainer h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #F8F9FA;
}

.rightOuterContainer{
    width : 100%;
    height : 100%;
}

.rightInnerContainer{
    position: absolute;
    bottom : 0;
    right : 0;

    padding : 40px 50px;

    width : calc(100% - 300px);
    height : calc(100% - 100px);

    background: #F1F3F5;
    border-radius: 21px 0 0 0;
}
