.rentPageContainer{
    width : 100vw;
    height : 100vh;

    display: flex;
    align-items: center;
    justify-content: center;


    overflow-y : scroll;
}

.rentPageInnerContainer{
    padding-top : 150px;
    width : 80%;
    height : 100%;

}

.rentProductlListSection{
    width : 100%;
    height : 100%;
}

.rentaledListSection{
    width : 100%;
    height : auto;

}


.titleTopContainer{
    width : 100%;
    height : 52px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom : 10px;

    border-bottom : 2px solid #F1F3F5;
}

.titleContainer{
    min-width : 120px;
    width : auto;
    height : 50px;
    display: flex;
    align-items: center;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    text-indent: 20px;

    color: #000000;
}

.productTotalContainer{
    min-width : 150px;
    width : auto;
    height : 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.productTotalContainer h3{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

/* 물품 카드 CSS */
.productCardOuterContainer{
    white-space: nowrap;
    min-width : 260px;
    width : 100%;
    height : 330px;

    background: #FFFFFF;
    border-radius: 16px;

    padding : 28px 30px;
}

.productCardOuterContainer:hover{
    background: #F1F3F5;
    cursor : pointer;
}

.productCardInnerContainer{
    width : 100%;
    height : 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.productImgContainer{
    width : 200px;
    height : 200px;
    border-radius: 16px;
}

.thumbNail{
    width : 100%;
    height : 100%;
    border-radius: 16px;
}

.productNameContainer{
    width : 200px;
    height : 24px;
}

.productNameContainer h1{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    text-align: center;
    letter-spacing: -0.654108px;

    color: #000000;
    text-overflow: ellipsis;
}

.productQuantityContainer{
    width : 200px;
    height : 30px;
}

.productQuantityContainer h3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.productListContainer{
    width : 100%;
    height : auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
}

.myRentalOuterContainer{
    white-space: nowrap;
    min-width : 260px;
    width : 100%;
    height : 360px;

    background: #FFFFFF;
    border-radius: 16px;

    padding : 28px 30px;
}

.myRentalOuterContainer:hover{
    background: #F1F3F5;
    cursor : pointer;
}


.myRentalInnerContainer{
    width : 100%;
    height : 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myRentalImg{
    width : 100%;
    height : 100%;
    border-radius: 16px;
}

.myRentalTextContainer{
    width : 100%;
    height : calc(100% - 200px);

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}

.myRentalReserveCancelButtonContainer{
    margin-top : 5px;
    width : 100%;
    cursor : pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myRentalReserveCancelButtonContainer span{
    margin-bottom :5px;
}

.myRentalReturnButton{
    width : 100px;
    cursor : pointer;
    display: flex;
    align-items: center;
    justify-content: center;


    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1E2F97;
    background: #FFFFFF;
    border: 1px solid #1E2F97;
    box-shadow: 0 0 4px rgba(30, 47, 151, 0.3);
    border-radius: 16.5px;
}

.myRentalReturnButton:hover{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: white;
    background: #1E2F97;
    border: 1px solid #1E2F97;
    box-shadow: 0 0 4px rgba(30, 47, 151, 0.3);
    border-radius: 16.5px;
    cursor : pointer;
}
