.outerContainer{
    width : 86vw;
    height : 75vh;

    display: flex;
    flex-direction: row;
}

/* group info section */
.groupInfoContainer{
    width : 300px;
    height : 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.groupInfoOuterContainer{
    width : 300px;
    height : 600px;

    padding : 1.5rem;

    margin-bottom: 2.5rem;

    background: #F8F9FA;
    backdrop-filter: blur(10px);
    border-radius: 25px 0 0 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.groupInfoIntroduceContainer{
    width : 100%;
    height : 35%;
    margin-top : 5%;
    margin-bottom : 5%;
    overflow : hidden;
}

.groupInfoTagContainer{
    width : 100%;
    height : 8%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #495057;
}


.groupInfoTagContainer span{
    padding-right : 10px;
}

.groupInfoImageContainer{
    width : 100%;
    height : 50%;
}

.groupInfoImage{
    width : 250px;
    height : 250px;

    border-radius: 16px;
}

.groupName{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    color : var(--primary);
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.groupMemberNumber{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;

    color: var(--black);
}

.groupInfoIntroduce{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 22px;

    color: var(--black);

    display: block;
    overflow: hidden;
}

.groupInfoInnerContainer{
    width :100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom : 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* blur */
.blur{
    background: rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}

/* group Content Section */
.groupContentContainer{
    min-width : 800px;
    width : 60vw;
    height : 75vh;
    border-radius: 0 25px 25px 25px;

    background: #FFFFFF;
    backdrop-filter: blur(10px);

    overflow-y:scroll;
    overflow-x: hidden;
}

.groupHome{
    padding : 5%;
}

.groupRent{
    padding-right: 5%;
    padding-left: 5%;
    padding-top : 5%;
}

/* group Menu Section */
.groupMenuContainer{
    position : relative;
    top : 12%;

    width : 100px;
    min-width: 90px;
    height : 24vh;

    background: #F8F9FA;

    backdrop-filter: blur(10px);

    border-radius: 0 25px 25px 0;
}

.groupMenuContainer nav{
    width : 100%;
    height : 100%;
}

.groupMenuContainer nav ul{
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left : 10px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.496216px;
}

.groupMenuContainer nav ul:hover{
    cursor : pointer;
}

.groupCurrentMenuText{
    color: var(--primary);
}

.groupMenuText{
    color: var(--black);
}

.joinButton{
    width: 8.125rem;
    height: 2.875rem;

    background: #FFFFFF;
    border: 0.105rem solid var(--primary);
    box-shadow: 0 0 0.42rem rgba(30, 47, 151, 0.3);
    border-radius: 1.731rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;

    color: var(--primary);
}

.requestButton{
    width: 8.125rem;
    height: 2.875rem;

    background: var(--primary);
    border:0.105rem solid var(--primary);
    box-shadow: 0 0 0.42rem rgba(30, 47, 151, 0.3);
    border-radius: 1.731rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;

    color: #FFFFFF;
}

.clubLeaveButton{
    width: 8.125rem;
    height: 2.875rem;

    background: #EC0000;
    border:0.105rem solid #EC0000;
    box-shadow: 0 0 0.42rem rgba(30, 47, 151, 0.3);
    border-radius: 1.731rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;

    color: #FFFFFF;
}

