.joinButton{

    width: 8.125rem;
    height: 2.875rem;

    background: #FFFFFF;
    border: 0.105rem solid var(--primary);
    box-shadow: 0 0 0.42rem rgba(30, 47, 151, 0.3);
    border-radius: 1.731rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;

    color: var(--primary);
}

.requestButton{
    width: 8.125rem;
    height: 2.875rem;

    background: var(--primary);
    border:0.105rem solid var(--primary);
    box-shadow: 0 0 0.42rem rgba(30, 47, 151, 0.3);
    border-radius: 1.731rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;

    color: #FFFFFF;
}


.unActive{
    position: absolute;
    bottom : 8%;

    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid var(--primary);
    box-shadow: 0 0 4px rgba(30, 47, 151, 0.3);
    border-radius: 30px;
    width : 130px;
    height : 46px;

    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 33px;

    color: var(--primary);
}

.active{
    position: absolute;
    bottom : 8%;

    box-sizing: border-box;
    background: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: 0 0 4px rgba(30, 47, 151, 0.3);
    border-radius: 30px;
    width : 130px;
    height : 46px;

    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 33px;

    color: white;
}
