.tag{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.654108px;
    color: #868E96;
    margin-right: 5px;
}
