.modalContainer{
    width : 47.5%;
    height : 66.5740740741%;

    position :absolute;
    background: #F8F9FA;
    border-radius: 35px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);

    top : 16.6666666667%;
    left : 26.25%;
}

.tmpDiv{
    width : 50px;
}

.modalTopContainer{
    width : 100%;
    height : 100px;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: 600;
    font-size: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modalTopIcon{
    padding : 12px;
    width: 50px;
    height : 50px;
}

.container1{
    width : 100%;
    height : 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom : 20px;
}

.container1 h3{
    margin-top : 38px;
    margin-bottom : 18px;
    height: 22px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    display: flex;
    align-items: center;

    color: #000000;

}


.certNumberInputContainer{
    min-width : 300px;
    width : 60%;
    max-width: 450px;
    height: 64px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border : none;
    background: #FFFFFF;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


.modalContentContainer{
    width : 100%;
    height : calc(100% - 100px);
}

.passwordResetInnerContainer{
    width : 100%;
    height : 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputContainer{
    width : 90%;
    height : 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.passwordResetContainer{
    margin-top : 50px;
    width : 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.labelText{
    max-width : 180px;
    width : 30%;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    color: #000000;
}

.icon{
    width: 24px;
    height : 24px;
}

.smallText{
    width : 30px;
    margin-left : 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    color: #000000;
}

.passwordInput{
    padding-left : 30px;
    font-size : 24px;
    margin-right: 20px;
    margin-left: 20px;
    min-width : 300px;
    max-width: 448px;
    height: 46px;
    width : 60%;
    border : none;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.emailInputContainer{
    width : 100%;
    height : 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;

    text-align: center;

    color: #000000;
}

.emailInput{
    margin-top :20px;
    min-width : 300px;
    width : 60%;
    max-width: 450px;
    padding-left: 20px;
    font-size : 20px;
    height: 64px;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.nextButtonFalse{
    width: 170px;
    height: 60px;

    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 26px;


    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.nextButtonTrue{
    width: 170px;
    height: 60px;

    background: var(--primary);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 26px;


    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.wrongText{
    height : 20px;
    margin-top : 15px;
    font-size : 1.2rem;
    color : red;
    text-align: center;
}

.notWrongText{
    height : 20px;
    margin-top : 15px;
    font-size : 1.2rem;
    color : blue;
    text-align: center;
}


.resendCertNumberContainer{
    width : 100%;
    height : 30%;

    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.resendCertNumberContainer h3{
    height: 22px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    text-align: center;
    letter-spacing: -0.408px;

    color: #495057;
}

.resendCertNumberContainer h3:hover{
    cursor : pointer;
}




.buttonContainer{
    width : 100%;
    height : 40%;

    padding-bottom : 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.certNumberInput{
    text-align: center;
    border : none;
    width : 100%;
    height: 64px;
    padding-left : 20px;

    font-size : 32px;

    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

@media (max-width : 1000px){
    .labelText{
        max-width : 180px;
        width : 15%;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;

        color: #000000;
    }

    .passwordInput{
        padding-left : 30px;
        font-size : 24px;
        margin-right: 20px;
        margin-left: 20px;
        min-width : 150px;
        max-width: 448px;
        height: 46px;
        width : 60%;
        border : none;
        background: #FFFFFF;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
}
