/* common */
.titleContainer{
    width : 100%;
    height : 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titleContainer h1{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: var(--black);
}


/* Group Home Tab */
.groupHomeContainer{
    width : 100%;
    height : 100%;

    display: flex;
    flex-direction: column;
}

.noticeListContainer{
    width : 100%;
    height : 50%;
    min-height : 17.5rem;

    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.noticeListContainer ul{
    width : 100%;
    height : 100%;
    min-height : 15rem;

    list-style: none;
    overflow : visible;
}

/* Notice List Item */
.noticeItemContainer{
    width : 100%;
    height: 5rem;

    padding: 9px 19px;

    border-bottom: 1px solid #F1F3F5;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.noticeImageTitleContainer{
    width : 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.noticeWriterDateContainer{
    width : 30%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.noticeTitleContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noticeTitleContentContainer h1{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: -0.460645px;

    color: #000000;
}

.noticeTitleContentContainer h3{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 25px;
    letter-spacing: -0.460645px;

    color: #868E96;
}

.noticeImage{
    width : 4rem;
    height : 4rem;
    border-radius: 0.5rem;

    margin-right : 1rem;
}

.detailTitle{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: -0.496216px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    color: #495057;
}

/* Group Rent Tab View */
.groupRentContainer{
    width : 100%;
    height : auto;
}

.rentalItemScrollContainer{
    width : 100%;
    overflow-x: scroll;
}

.groupRentContainer ul{
    list-style: none;

    width : 100%;
    height : calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.groupRentContainer ul li{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin : 0 5px;
}

.groupRentContainer ul li h3{
    margin-bottom : 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

.groupRentContainer ul li span{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
}

.rentalItemContainer{
    cursor: pointer;
    height : 100%;
}

.rentalItemImage{
    width : 135px;
    height : 135px;
    border-radius: 8px;
    margin-bottom : 6px;
}

.rentalItemListOuterContainer{
    width : 100%;
    height : 100%;

    display: flex;
    flex-direction: column;
}

.rentalItemListTitleContainer{
    width : 100%;
    margin-top : 2em;
    margin-bottom : 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rentalItemListTitleContainer h3{
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    text-align: center;
    color: var(--black);
}

.rentalItemInnerContainer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    overflow-y: scroll;

    width : 100%;
    height : 100%;
}

/* Group Modal Rental Tab View*/
.GroupModalRentalTabContainer{
    width : 100%;
    height : auto;

    display: flex;
    flex-direction: column;
}

.GroupModalRentalTabNoticeListContainer{
    width : 100%;
    height : calc(100% - 48px);

}

.GroupModalRentalTabNoticeListContainer ul{
    width : 100%;
    height : auto;
    overflow-y: scroll;
}

.noticeDetailContainer{
    width : 100%;
    min-height : 600px;

}


.noticeDetailInnerContainer{
    width : 100%;
    height : 100%;

    display: flex;
    flex-direction: column;


}

.noticeDetailTitleContainer{
    width : 100%;
    height :40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #F8F9FA;
}

.noticeDetailOuterContainer{
    width : 100%;
    height : 100%;

    min-height : 500px;
}

.noticeDetailInnerContainer{
    width : 100%;
    height : 100%;
}

.closeButton{
    width : 30px;
    height : 30px;

    padding : 4px;
    margin-left : 40px;
    margin-bottom : 70px;
}

.noticeDetailContent{
    padding : 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.writerContainer{
    width : 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right :20px;
}

.writeDateContainer{
    width : 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right :20px;
}

.graySmallText{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    letter-spacing: -0.408px;

    color: #868E96;
}

.blackSmallText{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    letter-spacing: -0.408px;

    color: #000000;
}

.noticeDetailInfoContainer{
    width : 100%;
    min-width: 250px;
    min-height : 30px;
    height : 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border-bottom: 2px solid #F8F9FA;

}

.noticeDetailTitleContainer span{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;

    text-align: center;
    letter-spacing: -0.496216px;

    color: #000000;
}

.GroupModalRentalTabTitleContainer{
    width : 100%;
    height : 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.GroupModalRentalTabTitleContainer h1{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: var(--black);
}

.noticeImgContainer{
    width : 170px;
    height : 170px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom : 5%;
    right : 3%;

    background-color: #ADB5BD;
}

.noticeImg{
    width : 150px;
    height :150px;
}

.noticeImg:hover{
    webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(1px);
    cursor : pointer;

}

.detailNoticeImgContainer{
    right :10%;
    z-index: 999;
    position: absolute;
    width : 80%;
    height : 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.detailNoticeImg {
    border : 1px solid #ADB5BD;
    min-width : 500px;
    min-height : 500px;
    max-width: 700px;
    max-height : 700px;

    width : 100%;
    height : 100%;
}

.detailNoticeImg:hover{
    cursor : pointer;

    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}
