.groupContainer{
    width : auto;
    height : 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groupContainer:hover{
    background-color: #F1F3F5;
    border-radius: 16px;
}

.groupNameText{
    font-style: normal;
    font-weight: 500;
    font-size: 1.409rem;
    line-height: 2.188rem;
    text-align: center;
    letter-spacing: -0.041rem;
    color: #000000;
}

.groupRepresentativeImage{
    /*width : 12.5rem;*/
    /*height: 12.5rem;*/
    width : 76.9230769231%;
    height :60.6060606061%;
    border-radius: 20px;
    margin: 1.75em 1.875em 1em;
}


